<a id="{{ component }}s"></a>
<div data-c-background="black(90)">
    <div data-c-container="medium">
        <h2
            data-c-font-size="h2"
            data-c-colour="white"
            data-c-padding="top(normal) bottom(normal)">
            {{ component|title }}s
        </h2>
    </div>
</div>
<div 
    data-c-container="medium"
    data-c-padding="top(double) bottom(double)">
    <h3
        data-c-font-size="h3"
        data-c-color="c1"
        data-c-font-weight="600"
        data-c-margin="bottom(half)">
        Description
    </h3>
    <p data-c-margin="bottom(normal)">{{ description }}</p>
    {% if accessibility %}
        <h4 
            data-c-font-size="h4"
            data-c-margin="top(double) bottom(half)">
            Accessibility
        </h4>
        <p>{{ accessibility }}</p>
    {% endif %}
    <h3
        data-c-font-size="h3"
        data-c-color="c1"
        data-c-font-weight="600"
        data-c-margin="top(double) bottom(normal)">
        Code Snippet
    </h3>
    <div data-c-accordion="group">
        {% include "../../components/accordion.twig" with {'title': 'View ' ~ component|title ~ ' Code', 'element': component} %}
    </div>
    <h3
        data-c-font-size="h3"
        data-c-color="c1"
        data-c-font-weight="600"
        data-c-margin="top(double) bottom(normal)">
        Examples
    </h3>
    {% include "examples/" ~ component ~ ".twig" %}
    <h3
        data-c-font-size="h3"
        data-c-color="c1"
        data-c-font-weight="600"
        data-c-margin="top(double) bottom(normal)">
        Detailed Information
    </h3>
    <div data-c-accordion="group">
        {% include "../../components/accordion.twig" with {'title': 'View ' ~ component|title ~ ' Code Explanation', 'explanation': component} %}
    </div>
</div>