<a id="{{ component }}"></a>
<div {% if alt == true %}data-c-background="grey(10)"{% endif %} data-c-padding="top(double) bottom(double)">
    <div data-c-container="medium">
        <h3
            data-c-font-size="h3"
            data-c-color="c1"
            data-c-margin="bottom(normal)"
            data-c-font-weight="600">
            {{ title }}
        </h3>
        <h4 
            data-c-font-size="h4"
            data-c-margin="top(normal) bottom(normal)">
            Examples
        </h4>
        <form data-c-grid="gutter">
            {% include "examples/" ~ component ~ ".twig" %}
        </form>
        <h4 
            data-c-font-size="h4"
            data-c-margin="top(normal) bottom(normal)">
            Code Snippet
        </h4>
        <div data-c-accordion="group">
            {% include "../../components/accordion.twig" with {'title': 'View ' ~ title|title ~ ' Code', 'element': component} %}
        </div>
    </div>
</div>