<div data-c-grid="gutter top">
    <div
        data-c-grid-item="base(1of1) tl(1of3)"
        data-c-input="tel">
        <label for="TI1">My Phone Number</label>
        <span>Required</span>
        <div>
            <input id="TI1" placeholder="e.g. 555-555-5555" type="tel" />
        </div>
        <span>This input has an error.</span>
    </div>
    <div
        data-c-grid-item="base(1of1) tl(1of3)"
        data-c-input="tel">
        <label for="TI2">My Phone Number</label>
        <span>Required</span>
        <div>
            <input id="TI2" placeholder="e.g. 555-555-5555" value="(555) 555-5555" required type="tel" />
        </div>
        <span>This input has an error.</span>
    </div>
    <div
        data-c-grid-item="base(1of1) tl(1of3)"
        data-c-input="tel"
        data-c-invalid>
        <label for="TI3">My Phone Number</label>
        <span>Required</span>
        <div>
            <input id="TI3" placeholder="e.g. 555-555-5555" type="tel" />
        </div>
        <span>This input has an error.</span>
    </div>
</div>