<h3 data-c-heading="h3" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">
    Types of Alerts
</h3>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-alert="information"></div>{% endfilter %}</code></p>
<p data-c-margin="bottom(normal)">The information argument specifies that the alert will use the information colour palette (chosen by variable). This alert is useful for displaying non-critical information to the user.</p>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-alert="warning"></div>{% endfilter %}</code></p>
<p data-c-margin="bottom(normal)">The warning argument specifies that the alert will use the warning colour palette (chosen by variable). This alert is useful for indicating to the user that they should be aware of something specific.</p>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-alert="error"></div>{% endfilter %}</code></p>
<p data-c-margin="bottom(normal)">The error argument specifies that the alert will use the error colour palette (chosen by variable). This alert is useful to indicate an interface error to the user.</p>
<h3 data-c-heading="h3" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">
    Other Arguments
</h3>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-alert="TYPE(toast)"></div>{% endfilter %}</code></p>
<p>The toast argument changes the way the alert is displayed and fixes it to the bottom right corner of the viewport. This is useful for displaying system information to the user that might relate to interface that is off screen.</p>