<div data-c-margin="bottom(half)">
    <pre><code class="language-html">{% filter escape %}<!--An element hidden from all devices, including screen readers.-->
<div data-c-visibility="hidden"></div>{% endfilter %}</code></pre>
</div>
<pre><code class="language-html">{% filter escape %}<!--An element hidden from screens, but not accessibility devices.-->
<div data-c-visibility="invisible"></div>{% endfilter %}</code></pre>