// =============================================================================

    // Clone
    // Core

// =============================================================================

$clone-whitespace-multiplier: 1.4;

@import "../../node_modules/clone-framework/app/scss/clone";

.clone-sidebar {
    display: none;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(1/5 * 100%);
    @media #{$clone-tablet-landscape} {
        display: block;
    }
    .clone-search-results {
        display: none;
        height: 50vh;
        overflow: auto;
        &.active {
            display: block;
        }
        .clone-search-null {
            display: none;
        }
        >div >ul {
            list-style: none;
            padding: 0;
            a {
                color: white !important;
            }
        }
    }
    .clone-menu {
        display: block;
        &.hidden {
            display: none;
        }
        >ul {
            list-style: none;
            padding: 0;
            padding-bottom: 2rem;
            position: relative;
            li {
                position: relative;
            }
            ul {
                display: none;
                list-style: none;
                padding-left: 1.5rem;
                position: relative;
                &.active {
                    display: block;
                }
                li {
                    position: relative;
                }
            }
            a {
                color: white !important;
            }
        }
    }
    [data-docs-menu-trigger] {
        background: none;
        border: none;
        cursor: pointer;
        padding: .5rem;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(.5rem, -.5rem);
        &:hover {
            i {
                color: $clone-c1;
                transition: color .2s ease;
            }
        }
        &.active {
            i {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: block;
                }
            }
        }
        i {
            color: white;
            transition: color .2s ease;
            &:first-child {

            }
            &:last-child {
                display: none;
            }
        }
    }
}
pre {
    margin: 0 !important;
}

pre, code {
    background: rgba($clone-black, .9) !important;
    border-radius: 0 !important;
    >code {
        background: none !important;
    }
}

pre code, code {
    padding: 0 !important;
}

[data-c-accordion] {
    pre {
        padding: calc(#{$clone-padding} * 1) !important;
        @media #{$clone-tablet-portrait} {
            padding: calc((#{$clone-padding} * 1) * #{$clone-whitespace-multiplier}) !important;
        }
        @media #{$clone-desktop-large} {
            padding: calc(((#{$clone-padding} * 1) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier}) !important;
        }
    }
}

.clone-hero {
    min-height: 100vh;
    position: relative;
    width: 100%;
    >div {
        max-width: 70rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}