// My Custom Clone Theme
// Please note that the order of the instructions/includes below is important to maintain.

// Include Clone's Variables
// Doing this gives you access to the default variables in the event you'd like to use one of them as a value in your custom theme variables.
@import "../../node_modules/clone-framework/app/scss/core/_defaults";

// Your Clone Theme Variables
// Put any of the variables you'd like to customize here. A list of all the available variables can be found at: https://designwithclone.ca/themes/how/

// Include Clone
@import "../../node_modules/clone-framework/app/scss/clone";

$clone-ws-tp: #{$clone-whitespace-multiplier}; // 1.4rem
$clone-ws-tl: #{$clone-ws-tp} * 1.2; // 1.68rem
$clone-ws-ds: #{$clone-ws-tl} * 1.2; // 2.016rem
$clone-ws-dm: #{$clone-ws-ds} * 1.2; // 2.4192rem
$clone-ws-dl: #{$clone-ws-dm} * 1.2; // 2.90304rem

[data-clone] {
    // Custom CSS for your app goes here.
    #cookieAlert {
        display: none;
        button {
            background: none;
            border: none;
            cursor: pointer;
        }
        &.active {
            display: flex;
        }
    }

    [data-c-menu-mobile-trigger] {
        border-radius: 5px 5px 0 0;
        padding: 1rem 1.5rem !important;
    }

    [data-c-menu] {
        .clone-logotype {
            display: block;
            text-align: center;
            a{
                text-decoration: none;
            }
        }
        .clone-logotype img {
            @media #{$clone-tablet-landscape} {
                display: block;
                max-width: 15rem;
            }
        }
        >div:first-child {
            margin: 5vh 20vw;
            @media #{$clone-tablet-landscape} {
                margin: 0 3vw;
            }
        }
        >form {
            margin: 0 10vw;
            @media #{$clone-tablet-landscape} {
                margin: 0 3vw;
            }
        }
        .clone-search-clear-button {
            background: none;
            border: none;
            cursor: pointer;
            text-decoration: underline;
            &:hover {
                color: $clone-c1;
            }
        }
        .clone-search-results {
            display: none;
            margin: 0 10vw;
            @media #{$clone-tablet-landscape} {
                margin: 0 3vw;
            }
            &.active {
                display: block;
            }
            hr {
                background: rgba($clone-white, .3);
                border: none;
                height: 1px;
                width: 100%;
            }
            .clone-search-null {
                display: none;
            }
            >div >ul {
                list-style: none;
                padding: 0;
                li:not(:last-child) {
                    margin-bottom: 1rem;
                }
                a {
                    color: white !important;
                }
            }
        }
        >ul {
            &.hidden {
                display: none !important;
            }
            li.active >a {
                color: $clone-hover-colour !important;
            }
        }
    }

    pre {
        border-radius: 5px !important;
        margin: 0 !important;
    }

    pre, code {
        background: rgba($clone-black, .9) !important;
        border-radius: 5px !important;
        >code {
            background: none !important;
        }
    }

    pre code {
        border-radius: 5px !important;
        padding: 0 !important;
    }
    p>code,
    li>code,
    span>code {
        background: lighten($clone-grey, 25%) !important;
        border-radius: 5px !important;
        color: darken($clone-grey, 30%) !important;
        padding: calc(#{$clone-padding} / 6) calc(#{$clone-padding} / 3) !important;
        text-shadow: none !important;
        @media #{$clone-tablet-portrait} {
            padding: calc((#{$clone-padding} / 6) * #{$clone-whitespace-multiplier}) calc((#{$clone-padding} / 3) * #{$clone-whitespace-multiplier}) !important;
        }
        @media #{$clone-desktop-large} {
            padding: calc(((#{$clone-padding} / 6) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier}) calc(((#{$clone-padding} / 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier}) !important;
        }
        * {
            color: darken($clone-grey, 30%) !important;
            text-shadow: none !important;
        }
    }

    [data-c-accordion] {
        pre {
            padding: calc(#{$clone-padding} * 1) !important;
            @media #{$clone-tablet-portrait} {
                padding: calc((#{$clone-padding} * 1) * #{$clone-whitespace-multiplier}) !important;
            }
            @media #{$clone-desktop-large} {
                padding: calc(((#{$clone-padding} * 1) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier}) !important;
            }
        }
    }

    [data-docs-cookie-trigger] {
        background: none;
        border: none;
        cursor: pointer;
        float: right;
        margin: calc((#{$clone-margin} / 2) * -1) calc((#{$clone-margin} / 2) * -1) 0 0;
        @media #{$clone-tablet-portrait} {
            margin: calc(((#{$clone-margin} / 2) * #{$clone-whitespace-multiplier}) * -1) calc(((#{$clone-margin} / 2) * #{$clone-whitespace-multiplier}) * -1) 0 0;
        }
        @media #{$clone-desktop-large} {
            margin: calc((((#{$clone-margin} / 2) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier}) * -1) calc((((#{$clone-margin} / 2) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier}) * -1) 0 0;
        }
        i {
            margin-right: .15rem;
            margin-left: .15rem;
        }
    }

    .clone-hero {
        min-height: 100vh;
        &::before {
            background: #{$clone-c1};
            background: -moz-linear-gradient(45deg, rgba($clone-c1, .9) 0%, rgba($clone-c5, .8) 100%);
            background: -webkit-linear-gradient(45deg, rgba($clone-c1, .9) 0%,rgba($clone-c5, .8) 100%);
            background: linear-gradient(45deg, rgba($clone-c1, .9) 0%,rgba($clone-c5, .8) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$clone-c1}', endColorstr='#{$clone-c5}',GradientType=1 );
        }
        .clone-hero-release {
            img, a {
                vertical-align: middle;
            }
            a {
                margin-left: .5rem;
            }
        }
        .clone-hero-card {
            transition: all .2s ease;
            &:hover {
                box-shadow: 0 10px 25px rgba(0, 0, 0, .3);
                color: $clone-black !important;
                transform: scale(1.05);
                transition: all .2s ease;
            }
            >div {
                align-items: center;
                display: flex;
                height: 100%;
                p {
                    width: 100%;
                }
            }
        }
    }

    .clone-header {
        &::before {
            background: #{$clone-c1};
            background: -moz-linear-gradient(45deg, rgba($clone-c1, 1) 0%, rgba($clone-c5, 1) 100%);
            background: -webkit-linear-gradient(45deg, rgba($clone-c1, 1) 0%,rgba($clone-c5, 1) 100%);
            background: linear-gradient(45deg, rgba($clone-c1, 1) 0%,rgba($clone-c5, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$clone-c1}', endColorstr='#{$clone-c5}',GradientType=1 );
        }
    }
    .clone-component-header {
        &::before {
            background: #{$clone-c1};
            background: -moz-linear-gradient(45deg, rgba($clone-c1, .9) 0%, rgba($clone-c5, .8) 100%);
            background: -webkit-linear-gradient(45deg, rgba($clone-c1, .9) 0%,rgba($clone-c5, .8) 100%);
            background: linear-gradient(45deg, rgba($clone-c1, .9) 0%,rgba($clone-c5, .8) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$clone-c1}', endColorstr='#{$clone-c5}',GradientType=1 );
        }
    }

    .clone-component-description {
        position: relative;
        z-index: 1;
        [data-c-card] {
            margin-top: calc((#{$clone-margin} * 2) * -1);
            @media #{$clone-tablet-portrait} {
                margin-top: calc(((#{$clone-margin} * 2) * #{$clone-whitespace-multiplier}) * -1);
            }
            @media #{$clone-desktop-large} {
                margin-top: calc((((#{$clone-margin} * 2) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier}) * -1);
            }
        }
    }

    .clone-input-list {
        li {
            margin: 0;
        }
    }

    .theme-gradient {
        background: #f14948;
        background: -moz-linear-gradient(45deg, #f14948 0%, #f7af5b 100%);
        background: -webkit-linear-gradient(45deg, #f14948 0%,#f7af5b 100%);
        background: linear-gradient(45deg, #f14948 0%,#f7af5b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f14948', endColorstr='#f7af5b',GradientType=1 );
    }

    .theme-hero {
        img {
            display: block;
            margin: 0 auto;
            max-width: 20rem;
        }
    }

    .theme-site-notice {
        i {
            color: $clone-c1;
            vertical-align: middle;
        }
        span {
            margin-left: .5rem;
            vertical-align: middle;
        }
    }

    .can-1 {
        background: #26374A;
    }
    .can-2 {
        background: #269abc;
    }
    .can-3 {
        background: #af3c43;
    }
    .tal-1 {
        background: #5b1647;
    }
    .tal-2 {
        background: #96043e;
    }
    .tal-3 {
        background: #c90035;
    }

    .offset-anchor-normal {
        display: block;
        content: " ";
        margin-top: calc((#{$clone-margin}) * -1);
        @media #{$clone-tablet-portrait} {
            margin-top: calc(((#{$clone-margin}) * #{$clone-whitespace-multiplier}) * -1);
        }
        @media #{$clone-desktop-large} {
            margin-top: calc((((#{$clone-margin}) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier}) * -1);
        }
        height: calc(#{$clone-margin});
        @media #{$clone-tablet-portrait} {
            height: calc((#{$clone-margin}) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            height: calc(((#{$clone-margin}) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
        visibility: hidden;
        pointer-events: none;
    }

    .offset-anchor-double {
        display: block;
        content: " ";
        margin-top: calc((#{$clone-margin} * 2) * -1);
        @media #{$clone-tablet-portrait} {
            margin-top: calc(((#{$clone-margin} * 2) * #{$clone-whitespace-multiplier}) * -1);
        }
        @media #{$clone-desktop-large} {
            margin-top: calc((((#{$clone-margin} * 2) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier}) * -1);
        }
        height: calc(#{$clone-margin} * 2);
        @media #{$clone-tablet-portrait} {
            height: calc((#{$clone-margin} * 2) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            height: calc(((#{$clone-margin} * 2) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
        visibility: hidden;
        pointer-events: none;
    }

    .offset-anchor-triple {
        display: block;
        content: " ";
        margin-top: calc((#{$clone-margin} * 3) * -1);
        @media #{$clone-tablet-portrait} {
            margin-top: calc(((#{$clone-margin} * 3) * #{$clone-whitespace-multiplier}) * -1);
        }
        @media #{$clone-desktop-large} {
            margin-top: calc((((#{$clone-margin} * 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier}) * -1);
        }
        height: calc(#{$clone-margin} * 3);
        @media #{$clone-tablet-portrait} {
            height: calc((#{$clone-margin} * 3) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            height: calc(((#{$clone-margin} * 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
        visibility: hidden;
        pointer-events: none;
    }

    footer {
        padding-bottom: calc(#{$clone-padding} * 2 + 3rem);
        @media #{$clone-tablet-portrait} {
            padding-bottom: calc((#{$clone-padding} * 2) * #{$clone-ws-tp} + 3rem);
        }
        @media #{$clone-tablet-landscape} {
            padding-bottom: calc((#{$clone-padding} * 2) * #{$clone-ws-tl});
        }
        @media #{$clone-desktop-small} {
            padding-bottom: calc((#{$clone-padding} * 2) * #{$clone-ws-ds});
        }
        @media #{$clone-desktop-medium} {
            padding-bottom: calc((#{$clone-padding} * 2) * #{$clone-ws-dm});
        }
        @media #{$clone-desktop-large} {
            padding-bottom: calc((#{$clone-padding} * 2) * #{$clone-ws-dl});
        }
        i {
            font-size: $clone-default-font-size;
            margin: 0 .2rem;
            vertical-align: middle;
        }
    }

}