<div data-c-grid="gutter">
    <div data-c-grid-item="equal-col tp(1of2)">
        <pre><code class="language-md"># SIDE

all
top
right
bottom
left
tb (Top and Bottom)
rl (Right and Left)</code></pre>
    </div>
    <div data-c-grid-item="equal-col tp(1of2)">
        <pre><code class="language-md"># VALUE

quarter
half
normal
double
triple</code></pre>
    </div>
</div>