<div data-c-margin="bottom(half)">
        <pre><code class="language-html">{% filter escape %}<!--A double value margin on all sides.-->
<div data-c-margin="all(double)"></div>{% endfilter %}</code></pre>
    </div>
    <pre><code class="language-html">{% filter escape %}<!--Double value on top, normal on the sides, and triple value on the bottom.-->
<div data-c-padding="top(double) right(normal) bottom(triple) left(normal)"></div>{% endfilter %}</code></pre>