<div data-c-grid="gutter">
    <div data-c-grid-item="equal-col tp(1of2)">
        <pre><code class="language-md"># WIDTH

thin
thick</code></pre>
    </div>
    <div data-c-grid-item="equal-col tp(1of2)">
        <pre><code class="language-md"># COLOUR

white
gray / grey
black
c1 (Theme Colour 01)
c2 (Theme Colour 02)
c3 (Theme Colour 03)
c4 (Theme Colour 04)
c5 (Theme Colour 05)
stop
slow
go</code></pre>
    </div>
</div>