<div
    data-c-accordion="object"
    data-c-background="white(100)">
    <button
        aria-expanded="false"
        data-c-accordion="trigger"
        data-c-padding="right"
        tabindex="0"
        type="button">
        <div data-c-padding="top(half) right bottom(half) left(half)">
            <span data-c-heading="h4" data-c-font-weight="bold">
                {{ title }}
            </span>
            {% if subtitle %}
                <span data-c-margin="top(quarter)" data-c-heading="h5" data-c-colour="c1">
                    Optional Accordion Subtitle
                </span>
            {% endif %}
        </div>
        <span data-c-visibility="invisible">
            Click to view...
        </span>
        <i
            aria-hidden="true"
            class="material-icons"
            data-c-accordion="icon--add"
            data-c-colour="black">
            add_circle
        </i>
        <i
            aria-hidden="true"
            class="material-icons"
            data-c-accordion="icon--remove"
            data-c-colour="black">
            remove_circle
        </i>
    </button>
    <div
        aria-hidden="true"
        data-c-accordion="content"
        data-c-padding="right(half) left(half)">
        <div data-c-padding="bottom(half)">
            {% if element %}
                <pre><code class="language-twig">{% filter escape %}{% include "../../../node_modules/clone-framework/app/twig/components/" ~ element ~ ".html" %}{% endfilter %}</code></pre>
            {% endif %}
            {% if content == "themeing" %}
                <pre><code class="language-scss">{% filter escape %}{% include "../../../node_modules/clone-framework/app/scss/core/variables.scss" %}{% endfilter %}</code></pre>
            {% endif %}
        </div>
    </div>
</div>
