<div
    data-c-accordion
    data-c-border="lr(thin, solid, black)"
    data-c-background="black(90)"
    data-c-radius="rounded">
    <button
        aria-expanded="false"
        data-c-accordion-trigger
        data-c-padding="right"
        tabindex="0"
        type="button">
        <div data-c-padding="top(half) right(double) bottom(half) left(normal)">
            <p data-c-heading="h4" data-c-font-style="underline" data-c-color="white">
                {{ title }}
            </p>
            {% if subtitle %}
                <p data-c-margin="top(quarter)" data-c-heading="h5" data-c-colour="c1">
                    Optional Accordion Subtitle
                </p>
            {% endif %}
        </div>
        <span data-c-visibility="invisible">
            Click to view...
        </span>
        <i
            aria-hidden="true"
            class="material-icons"
            data-c-accordion-add
            data-c-color="white">
            add
        </i>
        <i
            aria-hidden="true"
            class="material-icons"
            data-c-accordion-remove
            data-c-color="white">
            remove
        </i>
    </button>
    <div
        aria-hidden="true"
        {% if element %}
        {% elseif content == "themeing" %}
        {% elseif content == "canada" %}
        {% elseif content == "talent-cloud" %}
        {% else %}
            data-c-background="white(100)"
            data-c-padding="right(normal) left(normal)"
        {% endif %}
        data-c-accordion-content>
        <div 
            {% if element %}
            {% elseif content == "themeing" %}
            {% elseif content == "canada" %}
            {% elseif content == "talent-cloud" %}
            {% elseif explanation %}
                data-c-padding="top(normal) bottom(normal)"
            {% else %}
                data-c-padding="top(normal) bottom(normal)"
            {% endif %}>
            {% if element %}
                <pre><code class="language-twig">{% filter escape %}{% include "../../../node_modules/clone-framework/app/twig/components/" ~ element ~ ".twig" %}{% endfilter %}</code></pre>
            {% endif %}
            {% if content == "themeing" %}
                <pre><code class="language-scss">{% filter escape %}{% include "../../../node_modules/clone-framework/app/scss/core/_defaults.scss" %}{% endfilter %}</code></pre>
            {% endif %}
            {% if content == "canada" %}
                <pre><code class="language-scss">{% filter escape %}{% include "../../scss/themes/canada.scss" %}{% endfilter %}</code></pre>
            {% endif %}
            {% if content == "talent-cloud" %}
                <pre><code class="language-scss">{% filter escape %}{% include "../../scss/themes/talent-cloud.scss" %}{% endfilter %}</code></pre>
            {% endif %}
            {% if explanation %}
                {% include "../views/components/explanation/" ~ explanation ~ ".twig" %}
            {% endif %}
        </div>
    </div>
</div>
