<div class="clone-hero">
    <div 
        data-c-alignment="base(centre) tl(left)"
        data-c-container="medium">
        <h1
            data-c-font-size="h1"
            data-c-font-weight="bold"
            data-c-margin="bottom(normal)">
            Welcome to Clone <span data-c-tag="c3" data-c-font-size="regular" data-c-radius="pill">BETA</span>
        </h1>
        <div data-c-margin="bottom(normal)" class="clone-hero-release">
            <img alt="GitHub package.json version" src="https://img.shields.io/github/package-json/v/joshdrink/clone-framework.svg">
            <a href="https://github.com/joshdrink/clone-framework/blob/master/README.md" title="See what's new in Clone." target="_blank">See What's New</a>
        </div>
        <p data-c-margin="bottom(normal)">Clone is a simple design framework for building websites.</p>
        <p data-c-margin="bottom(normal)">It leverages the power of HTML5 data attributes to provide easy-to-use and customizable properties. Clone can be used as is or it can be imported into your project to allow for deep customization through the power of Sass.</p>
        <p data-c-margin="bottom">
            Browser Support: IE11, Edge, Chrome, Firefox, Safari
        </p>
        <div data-c-grid="gutter">
            <div data-c-grid-item="base(full) tl(1of2)">
                <a
                    data-c-button="solid(c1)"
                    data-c-radius="rounded"
                    href="#content"
                    title="View the About Clone section.">
                    Get Started
                </a>
            </div>
            <div data-c-grid-item="base(full) tl(1of2)" data-c-align="tl(right)">
                <a
                    data-c-button="outline(c1)"
                    data-c-radius="rounded"
                    href="https://codesandbox.io/embed/clone-sandbox-ejqcl"
                    title="Try Clone in your browser on Code Sandbox."
                    target="_blank">
                    Try it in your browser!
                </a>
            </div>
        </div>
    </div>
</div>