<div data-c-margin="bottom(half)">
    <pre><code class="language-html">{% filter escape %}<!--A thick, solid, black border on the top of the element.-->
<div data-c-border="top(thick, solid, black)"></div>{% endfilter %}</code></pre>
</div>
<pre><code class="language-html">{% filter escape %}<!--A thin, dashed, theme colour 5 border on all sides.-->
<div data-c-border="all(thin, dashed, c5)"></div>{% endfilter %}</code></pre>