<div data-c-grid="gutter">
    <div data-c-grid-item="equal-col base(1of2)">
        <pre><code class="language-md"># TYPE

small
medium
large
full</code></pre>
    </div>
    <div data-c-grid-item="equal-col tp(1of2)">
        <pre><code class="language-md"># ALIGNMENT

left
center
right</code></pre>
    </div>
</div>