<div data-c-margin="bottom(.5)">
    <pre><code class="language-html">{% filter escape %}<!--A container for copy, centered on the page.-->
<div data-c-container="small(center)"></div>{% endfilter %}</code></pre>
</div>
<pre><code class="language-html">{% filter escape %}<!--A container for forms, left aligned on the page.-->
<div data-c-container="medium(left)"></div>{% endfilter %}</code></pre>