<div data-c-margin="bottom(half)">
    <pre><code class="language-html">{% filter escape %}<!--Centred initially, left aligned on landscape tablets.-->
<div data-c-alignment="base(centre) tl(left)"></div>{% endfilter %}</code></pre>
</div>
<pre><code class="language-html">{% filter escape %}<!--Centred initially, right aligned on landscape phones, centred on landscape tablets, right aligned on large desktops.-->
<div data-c-alignment="base(centre) pl(right) tl(centre) dl(right)"></div>{% endfilter %}</code></pre>