<div data-c-grid="gutter">
    <div data-c-grid-item="tp(1of2)">
        <div data-c-tag="c2" data-c-radius="rounded" data-c-font-size="small">
            Sample Tag Text
        </div>
    </div>
    <div data-c-grid-item="tp(1of2)">
        <a href="" title="" data-c-tag="c4" data-c-radius="pill" data-c-font-size="small">
            Sample Tag Text
        </a>
    </div>
</div>