{% extends "../../../templates/layout.twig" %}
{% set component = {
    id: "theLisBra",
    title: "the brave theme"
} %}
{% block title %}{{ component.title|title }}{% endblock %}
{% block content %}
    {{ parent(component) }}
    {% include "../../../templates/header.twig" with {component} %}
    <div data-c-container="medium" data-c-padding="bottom(triple)">
        <h2 data-c-heading="h2" data-c-padding="top(3)" data-c-margin="bottom(1)">
            Clone's Default Theme, Brave
        </h2>
        <div data-c-margin="bottom(1)">
            <div data-c-grid="gutter middle">
                <div data-c-grid-item="tp(1of2) tl(2of3) dm(4of5)" data-c-align="base(center) tp(left)">
                    <p>Brave is the default theme installed on Clone. It uses a progression of a soft orange-red to orange-yellow to give the theme a warm, upbeat vibe.</p>
                </div>
                <div data-c-grid-item="tp(1of2) tl(1of3) dm(1of5)" data-c-align="base(center) tp(right)">
                    <a data-c-button="outline(c1)" data-c-radius="rounded" href="/themes/brave/example/" title="Visit the Brave theme in a new browser tab." target="_blank">Preview Brave</a>
                </div>
            </div>
        </div>
        <div data-c-grid="gutter(all, 1)">
            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5)">
                <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="tb(2)"></div>
            </div>
            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5)">
                <div data-c-background="c2(100)" data-c-radius="rounded" data-c-padding="tb(2)"></div>
            </div>
            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5)">
                <div data-c-background="c3(100)" data-c-radius="rounded" data-c-padding="tb(2)"></div>
            </div>
            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5)">
                <div data-c-background="c4(100)" data-c-radius="rounded" data-c-padding="tb(2)"></div>
            </div>
            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5)">
                <div data-c-background="c5(100)" data-c-radius="rounded" data-c-padding="tb(2)"></div>
            </div>
        </div>
        <div data-c-margin="top(3)">
            <div data-c-grid="gutter middle">
                <div data-c-grid-item="base(1of1) tl(1of2)">
                    <h2 data-c-heading="h2">Brave's Variables</h2>
                </div>
                <div data-c-grid-item="base(1of1) tl(1of2)" data-c-align="tl(right)">
                    <button data-c-button="outline(c1)" data-c-radius="rounded" data-docs-copy-code-trigger="code">
                        <span aria-hidden="false">Copy Theme</span><span style="display: none;" aria-hidden="true">Copied!</span>
                    </button>
                </div>
            </div>
            <div 
                data-c-margin="top"
                data-docs-code="code">
                {% include "../../../templates/accordion.twig" with {'title': 'View Brave\'s Variables', 'content': 'brave'} %}
            </div>
        </div>
    </div>
{% endblock %}