<h3 data-c-heading="h3" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">Installing a Carousel</h3>
<p data-c-margin="bottom(normal)">By default, pasting the carousel code above into your project will work out of the box. Sometimes however, you'll want to customize the nuances and functionality of the carousel to suit your specific needs. In order to do this, apply the <code class="language-html">{% filter escape %}data-c-custom-carousel{% endfilter %}</code> data attribute to the carousel. This will tell Clone to skip over it, allowing you to initialize it manually using <a href="https://nickpiscitelli.github.io/Glider.js/" title="Learn more about initializing a carousel with Glider.js" target="_blank">Glider.js</a>' documentation.</p>
<h3 data-c-heading="h3" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">Types of Carousel</h3>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-carousel="content"></div>{% endfilter %}</code></p>
<p data-c-margin="bottom(normal)">Content type carousels are used to display important information. These carousels provide the opportunity to include photo backgrounds, a title, and paragraph based content.</p>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-carousel="image"></div>{% endfilter %}</code></p>
<p data-c-margin="bottom(normal)">Image type carousels can be used to display images in a gallery-type format. The content carousel is more suited for other types of variable media.</p>
<h3 data-c-heading="h3" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">Pieces of a Carousel</h3>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-carousel-wrapper></div>{% endfilter %}</code></p>
<p data-c-margin="bottom(normal)">The carousel wrapper provides important spacing and responsive properties to the carousel itself.</p>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-carousel></div>{% endfilter %}</code></p>
<p data-c-margin="bottom(normal)">The carousel element is where you determine the type (outlined above).</p>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-carousel-item></div>{% endfilter %}</code></p>
<p data-c-margin="bottom(normal)">Carousel items are what Glider uses to detect and generate slides for the carousel. These elements contain your content.</p>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-carousel-arrow="prev"></div>{% endfilter %}</code>, <code class="language-html">{% filter escape %}<div data-c-carousel-arrow="next"></div>{% endfilter %}</code></p>
<p data-c-margin="bottom(normal)">These attributes indicate the triggers for navigating left and right through the carousel's content.</p>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-carousel-dots></div>{% endfilter %}</code></p>
<p>This element indicates the parent element that contains the carousel's dot navigation structure. Always use this element in partnership with the arrows outlined above.</p>