<div data-c-grid="gutter">
    <div data-c-grid-item="equal-col base(1of1)">
        <pre><code class="language-md"># VALUE

block
inline
inline-block
table
grid
flex
none</code></pre>
    </div>
</div>