<pre><code class="language-html">{% filter escape %}<!--Display a div as an inline element.-->
<div data-c-display="inline"></div>

<!--Display a span as a block element.-->
<span data-c-display="block"></span>{% endfilter %}</code></pre>