<a id="util-containers"></a>
<h3
    data-c-font-size="h3"
    data-c-font-weight="600"
    data-c-colour="c1"
    data-c-padding="top(double)"
    data-c-margin="bottom(normal)">
    Containers
</h3>
<div>
    <p data-c-margin="bottom">Usage: <code class="language-html">{% filter escape %}<div data-c-container="TYPE"></div>{% endfilter %}</code></p>
    <p data-c-margin="bottom">Purpose: This attribute allows you to select from one of three container types: small (for large volumes of text), medium (for narrow UI and forms), large (for contained UI), and full (for content that has no maximum width but requires a margin).</p>
    <h4 
        data-c-font-size="h4"
        data-c-margin="top(double) bottom(normal)">
        Available Arguments
    </h4>
    <div data-c-grid="gutter">
        <div data-c-grid-item="equal-col base(1of1)">
            <pre><code class="language-md"># TYPE

small
medium
large
full</code></pre>
        </div>
    </div>
    <h4 
        data-c-font-size="h4"
        data-c-margin="top(double) bottom(normal)">
        Examples
    </h4>
    <pre><code class="language-html">{% filter escape %}<!--A container for copy.-->
<div data-c-container="small"></div>{% endfilter %}</code></pre>
</div>