<a id="util-containers"></a>
<h3
    data-c-font-size="h3"
    data-c-font-weight="600"
    data-c-colour="c1"
    data-c-margin="top(double) bottom(normal)">
    Containers
</h3>
<div>
    <p data-c-margin="bottom">Usage: <code class="language-html">{% filter escape %}<div data-c-container="TYPE"></div>{% endfilter %}</code></p>
    <p data-c-margin="bottom">Purpose: This attribute allows you to select from one of three container types: full (for content that has no maximum width but requires a margin), copy (for long swathes of text) and layout (for contained UI).</p>
    <h4 
        data-c-font-size="h4"
        data-c-margin="top(double) bottom(normal)">
        Available Arguments
    </h4>
    <div data-c-grid="gutter">
        <div data-c-grid-item="equal-col base(1of1)">
            <pre><code class="language-md"># TYPE

full
copy
layout</code></pre>
        </div>
    </div>
    <h4 
        data-c-font-size="h4"
        data-c-margin="top(double) bottom(normal)">
        Examples
    </h4>
    <pre><code class="language-md">{% filter escape %}<!--A container for copy.-->
<div data-c-container="copy"></div>{% endfilter %}</code></pre>
</div>