<a id="util-fonts"></a>
<h3
    data-c-font-size="h3"
    data-c-font-weight="600"
    data-c-colour="c1"
    data-c-padding="top(double)"
    data-c-margin="bottom(normal)">
    Fonts &amp; Font Styles
</h3>
<div>
    <h4 
        data-c-font-size="h4"
        data-c-margin="top(normal) bottom(normal)">
        Font Family
    </h4>
    <p data-c-margin="bottom">Usage: <code class="language-html">{% filter escape %}<div data-c-font="STYLE"></div>{% endfilter %}</code></p>
    <p data-c-margin="bottom">Purpose: This attribute allows you to assign a specific font-family to an element. Font family arguments can be customized using the variables found in the themeing section of the documentation.</p>
    <h5 
        data-c-font-size="h5"
        data-c-font-weight="700"
        data-c-margin="top(normal) bottom(normal)">
        Available Arguments
    </h5>
    <div data-c-grid="gutter">
        <div data-c-grid-item="equal-col base(1of1)">
            <pre><code class="language-md"># STYLE

sans
serif
script
mono / monospace</script></code></pre>
        </div>
    </div>
    <h4 
        data-c-font-size="h4"
        data-c-margin="top(double) bottom(normal)">
        Font Colour
    </h4>
    <p data-c-margin="bottom(normal)">Usage: <code class="language-html">{% filter escape %}<div data-c-colour="COLOUR"></div>, <div data-c-color="COLOR"></div>{% endfilter %}</code></p>
    <p data-c-margin="bottom">Purpose: This attribute allows you to assign a font colour to an element and all of its children.</p>
    <h5 
        data-c-font-size="h5"
        data-c-font-weight="700"
        data-c-margin="top(normal) bottom(normal)">
        Available Arguments
    </h5>
    <div data-c-grid="gutter">
        <div data-c-grid-item="equal-col base(1of1)">
            <pre><code class="language-md"># COLOUR

white
gray / grey
black
c1 (Theme Colour 01)
c2 (Theme Colour 02)
c3 (Theme Colour 03)
c4 (Theme Colour 04)
c5 (Theme Colour 05)
stop
slow
go</script></code></pre>
        </div>
    </div>
    <h4 
        data-c-font-size="h4"
        data-c-margin="top(double) bottom(normal)">
        Font Size
    </h4>
    <p data-c-margin="bottom(normal)">Usage: <code class="language-html">{% filter escape %}<div data-c-font-size="SIZE"></div>{% endfilter %}</code></p>
    <p data-c-margin="bottom">Purpose: This attribute allows you to assign a font-size to an element that is based on the font hierarchy. All text elements default to regularly sized fonts.</p>
    <h5 
        data-c-font-size="h5"
        data-c-font-weight="700"
        data-c-margin="top(normal) bottom(normal)">
        Available Arguments
    </h5>
    <div data-c-grid="gutter">
        <div data-c-grid-item="equal-col base(1of1)">
            <pre><code class="language-md"># SIZE

h1
h2
h3
h4
h5
small</script></code></pre>
        </div>
    </div>
    <h4 
        data-c-font-size="h4"
        data-c-margin="top(double) bottom(normal)">
        Font Style
    </h4>
    <p data-c-margin="bottom(normal)">Usage: <code class="language-html">{% filter escape %}<div data-c-font-style="STYLE"></div>{% endfilter %}</code></p>
    <p data-c-margin="bottom">Purpose: This attribute allows you to assign a text style to an element. You can use <code class="language-html">{% filter escape %}<div data-c-font-weight="bold"></div>{% endfilter %}</code> (found below) to bold items instead.</p>
    <h5 
        data-c-font-size="h5"
        data-c-font-weight="700"
        data-c-margin="top(normal) bottom(normal)">
        Available Arguments
    </h5>
    <div data-c-grid="gutter">
        <div data-c-grid-item="equal-col base(1of1)">
            <pre><code class="language-md"># STYLE

italic
underline</script></code></pre>
        </div>
    </div>
    <h4 
        data-c-font-size="h4"
        data-c-margin="top(double) bottom(normal)">
        Font Weight
    </h4>
    <p data-c-margin="bottom(normal)">Usage: <code class="language-html">{% filter escape %}<div data-c-font-weight="WEIGHT"></div>{% endfilter %}</code></p>
    <p data-c-margin="bottom">Purpose: This attribute allows you to assign a font weight to an element.</p>
    <h5 
        data-c-font-size="h5"
        data-c-font-weight="700"
        data-c-margin="top(normal) bottom(normal)">
        Available Arguments
    </h5>
    <div data-c-grid="gutter">
        <div data-c-grid-item="equal-col base(1of1)">
            <pre><code class="language-md"># WEIGHT

100
200
300
400
normal
500
600
700
bold
800
900</script></code></pre>
        </div>
    </div>
</div>