<a id="util-radius"></a>
<h3
    data-c-font-size="h3"
    data-c-colour="c2"
    data-c-margin="top(double) bottom(normal)">
    Radius
</h3>
<div>
    <p data-c-margin="bottom">Usage: <code class="language-html">{% filter escape %}<div data-c-radius="STYLE"></div>{% endfilter %}</code></p>
    <p data-c-margin="bottom">Purpose: This attribute allows you to rounde the corners of an element using two different styles: slightly rounded, and pill (which rounds them entirely).</p>
    <h4 
        data-c-font-size="h4"
        data-c-font-weight="700"
        data-c-margin="top(double) bottom(normal)">Available Arguments</h4>
    <div data-c-grid="gutter">
        <div data-c-grid-item="equal-col base(1of1)">
            <pre><code class="language-md"># STYLE

rounded
pill</code></pre>
        </div>
    </div>
    <h4 
        data-c-font-size="h4"
        data-c-font-weight="700"
        data-c-margin="top(double) bottom(normal)">Examples</h4>
    <pre><code class="language-md">{% filter escape %}<!--An element with rounded corners.-->
<div data-c-radius="rounded"></div>{% endfilter %}</code></pre>
</div>