<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-accordion-group="(alt)"></div>{% endfilter %}</code></p>
<p data-c-margin="bottom(normal)">The group attribute is used to define a group of accordions and is required even in the event that a single accordion exists. The alt argument can be used to force the accordion group to alternate between white and the assigned colour set in the variable <code class="language-html">{% filter escape %}$clone-accordion-alternating-background-colour{% endfilter %}</code>. If alt is omitted you can use <code class="language-html">{% filter escape %}data-c-background{% endfilter %}</code> to assign a custom background colour to the <code class="language-html">{% filter escape %}data-c-accordion-trigger{% endfilter %}</code> element.</p>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-accordion></div>{% endfilter %}</code></p>
<p data-c-margin="bottom(normal)">The accordion attribute defines a single accordion within the group.</p>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-accordion-trigger></div>{% endfilter %}</code></p>
<p data-c-margin="bottom(normal)">The trigger attribute defines the individual trigger for a single accordion.</p>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-accordion-add></div>{% endfilter %}</code>, <code class="language-html">{% filter escape %}<div data-c-accordion-remove></div>{% endfilter %}</code></p>
<p data-c-margin="bottom(normal)">These attributes define the dynamic icons that visually indicate the status of the accordion as being opened or collapsed.</p>
<p data-c-margin="bottom(half)"><code class="language-html">{% filter escape %}<div data-c-accordion-content></div>{% endfilter %}</code></p>
<p>The content attribute defines the markup that contains the accordion's body content.</p>