<div data-c-accordion-group="alt">
    <div
        data-c-accordion
        data-c-background="white(100)"
        data-c-border="tb(thin, solid, black)">
        <button
            aria-expanded="false"
            data-c-accordion-trigger
            tabindex="0"
            type="button">
            <div data-c-padding="top(normal) bottom(normal) left(normal)">
                <p data-c-heading="h4" data-c-font-weight="bold">
                    Accordion Title
                </p>
                <p data-c-margin="top(quarter)" data-c-heading="h5" data-c-colour="c1">
                    Optional Accordion Subtitle
                </p>
            </div>
            <span data-c-visibility="invisible">
                Click to view...
            </span>
            <i
                aria-hidden="true"
                class="material-icons"
                data-c-accordion-add
                data-c-colour="black">
                add
            </i>
            <i
                aria-hidden="true"
                class="material-icons"
                data-c-accordion-remove
                data-c-colour="black">
                remove
            </i>
        </button>
        <div
            aria-hidden="true"
            data-c-accordion-content
            data-c-padding="right(normal) left(normal)">
            <div data-c-padding="bottom(normal)">
                <!-- Content Goes Here -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Egestas purus <a href="google.com" title="hi">viverra accumsan</a> in nisl nisi scelerisque eu
                    ultrices. A condimentum vitae sapien pellentesque habitant morbi
                    tristique senectus et.
                </p>
            </div>
        </div>
    </div>
    <div
        data-c-accordion
        data-c-background="white(100)"
        data-c-border="bottom(thin, solid, black)">
        <button
            aria-expanded="false"
            data-c-accordion-trigger
            tabindex="0"
            type="button">
            <div data-c-padding="top(normal) bottom(normal) left(normal)">
                <p data-c-heading="h4" data-c-font-weight="bold">
                    Accordion Title
                </p>
                <p data-c-margin="top(quarter)" data-c-heading="h5" data-c-colour="c1">
                    Optional Accordion Subtitle
                </p>
            </div>
            <span data-c-visibility="invisible">
                Click to view...
            </span>
            <i
                aria-hidden="true"
                class="material-icons"
                data-c-accordion-add
                data-c-colour="black">
                add
            </i>
            <i
                aria-hidden="true"
                class="material-icons"
                data-c-accordion-remove
                data-c-colour="black">
                remove
            </i>
        </button>
        <div
            aria-hidden="true"
            data-c-accordion-content
            data-c-padding="right(normal) left(normal)">
            <div data-c-padding="bottom(normal)">
                <!-- Content Goes Here -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Egestas purus <a href="google.com" title="hi">viverra accumsan</a> in nisl nisi scelerisque eu
                    ultrices. A condimentum vitae sapien pellentesque habitant morbi
                    tristique senectus et.
                </p>
            </div>
        </div>
    </div>
    <div
        data-c-accordion
        data-c-background="white(100)"
        data-c-border="bottom(thin, solid, black)">
        <button
            aria-expanded="false"
            data-c-accordion-trigger
            tabindex="0"
            type="button">
            <div data-c-padding="top(normal) bottom(normal) left(normal)">
                <p data-c-heading="h4" data-c-font-weight="bold">
                    Accordion Title
                </p>
                <p data-c-margin="top(quarter)" data-c-heading="h5" data-c-colour="c1">
                    Optional Accordion Subtitle
                </p>
            </div>
            <span data-c-visibility="invisible">
                Click to view...
            </span>
            <i
                aria-hidden="true"
                class="material-icons"
                data-c-accordion-add
                data-c-colour="black">
                add
            </i>
            <i
                aria-hidden="true"
                class="material-icons"
                data-c-accordion-remove
                data-c-colour="black">
                remove
            </i>
        </button>
        <div
            aria-hidden="true"
            data-c-accordion-content
            data-c-padding="right(normal) left(normal)">
            <div data-c-padding="bottom(normal)">
                <!-- Content Goes Here -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Egestas purus <a href="google.com" title="hi">viverra accumsan</a> in nisl nisi scelerisque eu
                    ultrices. A condimentum vitae sapien pellentesque habitant morbi
                    tristique senectus et.
                </p>
            </div>
        </div>
    </div>
</div>
