<a id="about-themeing"></a>
<h3
    data-c-font-size="h3"
    data-c-colour="c2"
    data-c-margin="top(double) bottom(normal)">
    Themeing
</h3>

<div>
    <p data-c-margin="bottom">Not a fan of Maple, Clone's default theme? No problem!</p>
    <p data-c-margin="bottom">Clone has a set of built-in variables that you can customize through Sass that will allow you to control a variety of fonts, colours, whitespace, etc. Simply pick and choose the variables you want to customize from the list below and add them to your Sass file, directly above Clone's import function:</p>
    <pre><code class="language-scss">{% filter escape %}// My Custom Clone Theme
// Please note that Clone must be included last, after all of your custom variables.

// Custom Variables
$clone-grid-columns: 8;
$clone-c1: #5B1647;

// Include Clone
@import "../node_modules/clone-framework/app/scss/clone";{% endfilter %}</code></pre>
    <div 
        data-c-margin="top"
        data-c-accordion="group">
        {% include "../../components/accordion.html" with {'title': 'View Theme Variables', 'content': 'themeing'} %}
    </div>
</div>