<header class="clone-component-header" data-c-overlay="c1(80)" 
    {% if space == "none" %}
        data-c-padding="top(triple)"
    {% else %}
        data-c-padding="top(triple) bottom(double)"
    {% endif %} 
    style="background-image: url('/img/banter-snaps.jpg')" title="This photograph was taken by Banter Snaps and sourced on Unsplash.com.">
    <div data-c-container="medium" data-c-padding="tb(triple)" data-c-colour="white" data-c-align="base(center) tl(left)">
        <h1 data-c-font-size="h1" data-c-font-weight="bold" data-c-margin="bottom(double)" data-c-padding="top(triple)">
            {{ component.plural|title }}
        </h1>
        {% include "breadcrumbs.twig" with {component} %}
    </div>
</header>