<header class="clone-component-header" data-c-overlay="c1(80)" 
    {% if space == "none" %}
        
    {% else %}
        data-c-padding="bottom(1)"
    {% endif %} 
    style="background-image: url('/img/banter-snaps.jpg')" title="This photograph was taken by Banter Snaps and sourced on Unsplash.com.">
    <div data-c-container="medium" data-c-padding="tb(3)" data-c-colour="white" data-c-align="base(center) tl(left)">
        <h1 data-c-heading="h1" data-c-margin="bottom(1)" data-c-padding="top(3)">
            {{ component.plural|title }}
        </h1>
        {% include "breadcrumbs.twig" with {component} %}
    </div>
</header>