<header class="clone-component-header" data-c-overlay="c1(80)" 
    {% if space == "none" %}
        data-c-padding="top(triple)"
    {% else %}
        data-c-padding="top(triple) bottom(double)"
    {% endif %} 
    style="background-image: url('https://images.unsplash.com/photo-1531403009284-440f080d1e12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
    <div data-c-container="medium" data-c-padding="tb(triple)" data-c-colour="white">
        <h1 data-c-font-size="h1" data-c-font-weight="bold" data-c-margin="bottom(double)" data-c-padding="top(triple)">
            {{ component.plural|title }}
        </h1>
        {% include "breadcrumbs.twig" with {component} %}
    </div>
</header>