<header class="clone-header" data-c-overlay="c1(100)" data-c-padding="top(triple)">
    <div data-c-container="medium" data-c-padding="tb(triple)" data-c-colour="white">
        <h1 data-c-font-size="h1" data-c-font-weight="bold" data-c-margin="bottom(double)" data-c-padding="top(triple)">
            {{ component.title|title }}
        </h1>
        {% include "breadcrumbs.twig" with {component} %}
    </div>
</header>