<header class="clone-component-header" data-c-overlay="c1(80)" data-c-padding="top(triple)" style="background-image: url('/img/banter-snaps.jpg')" title="This photograph was taken by Banter Snaps and sourced on Unsplash.com.">>
    <div data-c-container="medium" data-c-padding="tb(triple)" data-c-colour="white">
        <h1 data-c-font-size="h1" data-c-font-weight="bold" data-c-margin="bottom(double)" data-c-padding="top(triple)">
            {{ component.title|title }}
        </h1>
        {% include "breadcrumbs.twig" with {component} %}
    </div>
</header>