<div class="clone-hero" data-c-overlay="c1(80)" data-c-padding="tb(4)" style="background-image: url('/img/eberhard-grossgasteiger.jpg')" title="This photograph was taken by Eberhard Grossgasteiger and sourced on Unsplash.com.">
    <div data-c-alignment="base(centre)" data-c-container="medium">
        <h1 data-c-heading="h1" data-c-margin="tb(1)">
            Welcome to Clone
        </h1>
        <div data-c-margin="bottom(2)" class="clone-hero-release">
            <img alt="GitHub package.json version" src="https://img.shields.io/github/package-json/v/joshdrink/clone-framework.svg">
            <a data-c-color="white" href="/updates/" title="See what's new in Clone." data-c-hover-color="black">See What's New</a>
        </div>
        <div data-c-card data-c-padding="all(2)" data-c-margin="bottom(1)" data-c-radius="rounded" data-c-background="white(100)" data-c-alignment="base(left)">
            <p data-c-margin="bottom(1)" data-c-font-weight="bold">Clone is a simple design framework for building websites.</p>
            <p data-c-margin="bottom(1)">Produced at <a href="https://talent.canada.ca/" title="Learn more about Talent Cloud." target="_blank">GC Talent Cloud</a>, it leverages the power of HTML5 data attributes to provide easy-to-use and customizable properties. Clone can be used as is or it can be imported into your project to allow for deep customization through the power of Sass.</p>
            <p>
                Browser Support: IE11, Edge, Chrome, Firefox, Safari
            </p>
        </div>
        <div data-c-grid="gutter(all, 1)" data-c-padding="bottom(1)">
            <div data-c-grid-item="tp(1of2) ds(1of4) equal-col">
                <a class="clone-hero-card" href="https://github.com/joshdrink/clone-playground" title="Download the project boilerplate from Github." target="_blank">
                    <div data-c-card data-c-background="white(100)" data-c-radius="rounded" data-c-padding="all(1)">
                        <p data-c-align="base(center)">Start a New Clone Project</p>
                    </div>
                </a>
            </div>
            <div data-c-grid-item="tp(1of2) ds(1of4) equal-col">
                <a class="clone-hero-card" href="/getting-started/install/#npm" title="Learn how to install Clone on your Sass project using NPM.">
                    <div data-c-card data-c-background="white(100)" data-c-radius="rounded" data-c-padding="all(1)">
                        <p data-c-align="base(center)">Install Clone on an Existing Sass Project</p>
                    </div>
                </a>
            </div>
            <div data-c-grid-item="tp(1of2) ds(1of4) equal-col">
                <a class="clone-hero-card" href="/getting-started/themes/" title="Learn how to build a theme for Clone.">
                    <div data-c-card data-c-background="white(100)" data-c-radius="rounded" data-c-padding="all(1)">
                        <p data-c-align="base(center)">How to Build a Clone Theme</p>
                    </div>
                </a>
            </div>
            <div data-c-grid-item="tp(1of2) ds(1of4) equal-col">
                <a class="clone-hero-card" href="https://github.com/joshdrink/clone-framework" title="Explore Clone's source code on Github." target="_blank">
                    <div data-c-card data-c-background="white(100)" data-c-radius="rounded" data-c-padding="all(1)">
                        <p data-c-align="base(center)">Learn More About Clone on Github</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>