<div data-c-grid="gutter">
    <div data-c-grid-item="base(1of1) tp(1of2)">
        <div data-c-card data-c-padding="normal" data-c-radius="rounded">
            <span>This is a sample card.</span>
        </div>
    </div>
    <div data-c-grid-item="base(1of1) tp(1of2)">
        <div data-c-card data-c-padding="normal" data-c-radius="rounded">
            <span>This is a sample card.</span>
        </div>
    </div>
</div>