<div data-c-margin="bottom(half)">
    <pre><code class="language-html">{% filter escape %}<!--Thin black rule.-->
<hr data-c-hr="thin(black)">{% endfilter %}</code></pre>
</div>
<pre><code class="language-html">{% filter escape %}<!--Thick theme colour 1 rule.-->
<hr data-c-hr="thick(c1)">{% endfilter %}
</code></pre>