<div data-c-grid="gutter">
    <div data-c-grid-item="equal-col tp(1of2)">
        <pre><code class="language-md"># COLOR

white
gray
black
c1 (Theme Color 01)
c2 (Theme Color 02)
c3 (Theme Color 03)
c4 (Theme Color 04)
c5 (Theme Color 05)
stop
slow
go</code></pre>
    </div>
    <div data-c-grid-item="equal-col tp(1of2)">
        <pre><code class="language-md"># OPACITY

0
10
20
30
40
50
60
70
80
90
100</code></pre>
    </div>
</div>