<div data-c-margin="bottom(half)">
    <pre><code class="language-html">{% filter escape %}<!--Solid black background.-->
<div data-c-background="black(100)"></div>{% endfilter %}</code></pre>
</div>
<pre><code class="language-html">{% filter escape %}<!--Semi-transparent (50%) theme color 4 background.-->
<div data-c-background="c4(50)"></div>{% endfilter %}
</code></pre>