<div data-c-overlay="black(80)" data-c-padding="tb(triple)" style="background-image: url('https://images.unsplash.com/photo-1415369629372-26f2fe60c467?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80')">
    <div data-c-align="center" data-c-container="medium">
        <span data-c-font-size="h3" data-c-font-weight="bold" data-c-color="white">Example Text</span>
    </div>
</div>