<div data-c-margin="bottom(.5)">
    <pre><code class="language-html">{% filter escape %}<!--A double value margin on all sides.-->
<div data-c-margin="all(2)"></div>{% endfilter %}</code></pre>
</div>
<pre><code class="language-html">{% filter escape %}<!--Double value on top, normal on the sides, and triple value on the bottom.-->
<div data-c-padding="top(2) right(1) bottom(3) left(1)"></div>{% endfilter %}</code></pre>