<!DOCTYPE html>

<html
    lang="en">

    <head>

        <title>Clone Documentation</title>

        <meta
            charset="utf-8" />

        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge">

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">

        <link
            href="https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans:400,400i,600,600i,800,800i&amp;subset=latin-ext"
            rel="stylesheet">

        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

        <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

        <link async rel="stylesheet" href="css/app.css">

        <link async rel="stylesheet" href="css/prism/prism-okaidia.css">

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b91d47">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="theme-color" content="#b91d47">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97077222-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-97077222-3');
        </script>

    </head>

    <body data-clone data-clone-js>

        <div
            data-c-alert="information(toast)"
            data-c-radius="rounded"
            role="alert"
            id="cookieAlert">
            <div data-c-padding="half">
                <span
                    data-c-margin="bottom(quarter)"
                    data-c-heading="h5"
                    data-c-font-weight="bold">
                    <i
                        aria-hidden="true"
                        class="material-icons">
                        assessment
                    </i>
                    Just a heads up!
                </span>
                <p>
                    Clone's documentation uses Cookies and <a href="https://marketingplatform.google.com/about/analytics/benefits/" title="Learn more about what Google Analytics is." target="_blank">Google Analytics</a> to help us better understand our visitors. By viewing this site, you agree to have this basic information collected and relayed back to us. You can learn more about how Google Analytics provides us with this information <a href="https://support.google.com/analytics#topic=3544906" title="Learn more about how Google Analytics works." target="_blank">here</a>.
                </p>
            </div>
            <button data-docs-cookie-trigger data-c-padding="half">
                <i class="material-icons">close</i>
            </button>
        </div>

        <div data-c-grid>
            <div data-c-grid-item="tl(1of5)">
            </div>
            <div data-c-grid-item="tl(4of5)">
                <a
                    data-c-skip-content
                    data-c-background="grey(10)"
                    data-c-padding="normal"
                    data-c-color="white"
                    href="#content"
                    title="Skip to the main content.">
                    Skip to Main Content
                </a>
            </div>
        </div>

        {% include "components/menu.twig" %}

        <div data-c-grid>

            <!-- This serves the purpose of pushing the body content over so that the fixed menu has room (it is of equivalent width to this grid item). -->
            <div data-c-grid-item="tl(1of5)"></div>

            <div data-c-grid-item="tl(4of5)">

                <a id="pageTop"></a>
                <a id="home"></a>

                <!-- Hero ================================================== -->
                {% include "components/hero.twig" %}

                <a id="content"></a>

                <!-- About ================================================= -->
                <a id="about"></a>
                <div data-c-background="black(90)">
                    <div data-c-container="medium">
                        <h2
                            data-c-font-size="h2"
                            data-c-colour="white"
                            data-c-padding="top(normal) bottom(normal)">
                            About Clone
                        </h2>
                    </div>
                </div>
                <div 
                    data-c-container="medium"
                    data-c-padding="top(double) bottom(double)">
                    {% include "views/about/installation.twig" %}
                    {% include "views/about/usage.twig" %}
                    {% include "views/about/theme.twig" %}
                    {% include "views/about/contributing.twig" %}
                </div>

                <!-- Essentials ============================================ -->
                <a id="essentials"></a>
                <div data-c-background="black(90)">
                    <div data-c-container="medium">
                        <h2
                            data-c-font-size="h2"
                            data-c-colour="white"
                            data-c-padding="top(normal) bottom(normal)">
                            Essentials
                        </h2>
                    </div>
                </div>
                <div 
                    data-c-container="medium"
                    data-c-padding="top(double) bottom(double)">
                    {% include "views/essentials/colour.twig" %}
                    {% include "views/essentials/grid.twig" %}
                    {% include "views/essentials/type.twig" %}
                </div>

                <!-- Utilities ============================================= -->
                <a id="utilities"></a>
                <div data-c-background="black(90)">
                    <div data-c-container="medium">
                        <h2
                            data-c-font-size="h2"
                            data-c-colour="white"
                            data-c-padding="top(normal) bottom(normal)">
                            Utilities
                        </h2>
                    </div>
                </div>
                <div 
                    data-c-container="medium"
                    data-c-padding="top(double) bottom(double)">
                    {% include "views/utilities/alignment.twig" %}
                    {% include "views/utilities/backgrounds.twig" %}
                    {% include "views/utilities/borders.twig" %}
                    {% include "views/utilities/cards.twig" %}
                    {% include "views/utilities/containers.twig" %}
                    {% include "views/utilities/fonts.twig" %}
                    {% include "views/utilities/whitespace.twig" %}
                    {% include "views/utilities/overlays.twig" %}
                    {% include "views/utilities/radius.twig" %}
                    {% include "views/utilities/visibility.twig" %}
                </div>

                <!-- Components ============================================ -->
                    <a id="components"></a>
                    <!-- Accordions ---------------------------------------- -->
                    {% set accordionDesc = "Accordions are a great way to arrange and display a high volume of categoric information. They provide the opportunity to include a title, subtitle, and content. The content area is flexible and is a great way to display copy, media, code, etc. It's possible to change the colour of the trigger using the background attribute. Alternatively, you can set the alt property on the accordion group to automatically alternate accordion colours between white and the variable you've selected." %}
                    {% set accordionAcc = 'Coming Soon!' %}
                    {% include "views/components/layout.twig" with {'component': 'accordion', 'description': accordionDesc, 'accessibility': accordionAcc} %}
                    <!-- Alerts -------------------------------------------- -->
                    {% set alertDesc = 'Coming Soon!' %}
                    {% set alertAcc = 'Coming Soon!' %}
                    {% include "views/components/layout.twig" with {'component': 'alert', 'description': alertDesc, 'accessibility': alertAcc} %}
                    <!-- Back-to-Top Links --------------------------------- -->
                    {% set bttlDesc = 'Coming Soon!' %}
                    {% set bttlAcc = 'Coming Soon!' %}
                    {% include "views/components/layout.twig" with {'component': 'back-to-top-link', 'description': bttlDesc, 'accessibility': bttlAcc} %}
                    <!-- Blockquotes --------------------------------------- -->
                    {% set blockquoteDesc = 'Coming Soon!' %}
                    {% set blockquoteAcc = 'Coming Soon!' %}
                    {% include "views/components/layout.twig" with {'component': 'blockquote', 'description': blockquoteDesc, 'accessibility': blockquoteAcc} %}
                    <!-- Breadcrumbs --------------------------------------- -->
                    {% set breadcrumbDesc = 'Coming Soon!' %}
                    {% set breadcrumbAcc = 'Coming Soon!' %}
                    {% include "views/components/layout.twig" with {'component': 'breadcrumb', 'description': breadcrumbDesc, 'accessibility': breadcrumbAcc} %}
                    <!-- Buttons ------------------------------------------- -->
                    {% set buttonDesc = 'Coming Soon!' %}
                    {% set buttonAcc = 'Coming Soon!' %}
                    {% include "views/components/layout.twig" with {'component': 'button', 'description': buttonDesc, 'accessibility': buttonAcc} %}
                    <!-- Carousels ----------------------------------------- -->
                    {% set carouselDesc = 'Coming Soon!' %}
                    {% set carouselAcc = 'Coming Soon!' %}
                    {% include "views/components/layout.twig" with {'component': 'carousel', 'description': carouselDesc, 'accessibility': carouselAcc} %}
                    <!-- Dialogs ------------------------------------------- -->
                    {% set dialogDesc = 'Coming Soon!' %}
                    {% set dialogAcc = 'Coming Soon!' %}
                    {% include "views/components/layout.twig" with {'component': 'dialog', 'description': dialogDesc, 'accessibility': dialogAcc} %}
                    <!-- iframes ------------------------------------------- -->
                    {% set iframeDesc = 'Coming Soon!' %}
                    {% set iframeAcc = 'Coming Soon!' %}
                    {% include "views/components/layout.twig" with {'component': 'iframe', 'description': iframeDesc, 'accessibility': iframeAcc} %}
                    <!-- Inputs -------------------------------------------- -->
                    <a id="inputs"></a>
                    <div data-c-background="black(90)">
                        <div data-c-container="full">
                            <h2
                                data-c-font-size="h2"
                                data-c-colour="white"
                                data-c-padding="top(normal) bottom(normal)">
                                Inputs
                            </h2>
                        </div>
                    </div>
                    <div>
                        {% include "views/components/layout-inputs.twig" with {'component': 'input-checkbox', 'title': 'Checkbox Input'} %}
                        {% include "views/components/layout-inputs.twig" with {'component': 'input-date', 'title': 'Date Input', 'alt': true} %}
                        {% include "views/components/layout-inputs.twig" with {'component': 'input-dropdown', 'title': 'Dropdown Input'} %}
                        {% include "views/components/layout-inputs.twig" with {'component': 'input-email', 'title': 'Email Input', 'alt': true} %}
                        {% include "views/components/layout-inputs.twig" with {'component': 'input-number', 'title': 'Number Input'} %}
                        {% include "views/components/layout-inputs.twig" with {'component': 'input-password', 'title': 'Password Input', 'alt': true} %}
                        {% include "views/components/layout-inputs.twig" with {'component': 'input-radio', 'title': 'Radio Input'} %}
                        {% include "views/components/layout-inputs.twig" with {'component': 'input-text', 'title': 'Text Input', 'alt': true} %}
                        {% include "views/components/layout-inputs.twig" with {'component': 'input-textarea', 'title': 'Textarea Input'} %}
                        {% include "views/components/layout-inputs.twig" with {'component': 'input-with-button', 'title': 'Text Input with Button', 'alt': true} %}
                        {% include "views/components/layout-inputs.twig" with {'component': 'input-url', 'title': 'URL Input'} %}
                    </div>
                    <!-- Menus --------------------------------------------- -->
                    <!-- Pullquotes ---------------------------------------- -->
                    {% set pullquoteDesc = 'Coming Soon!' %}
                    {% set pullquoteAcc = 'Coming Soon!' %}
                    {% include "views/components/layout.twig" with {'component': 'pullquote', 'description': pullquoteDesc, 'accessibility': pullquoteAcc} %}
                    <!-- Skip-to-content Links ----------------------------- -->
                    {% set stcDesc = 'Coming Soon!' %}
                    {% set stcAcc = 'Coming Soon!' %}
                    {% include "views/components/layout.twig" with {'component': 'skip-to-content-link', 'description': stcDesc, 'accessibility': stcAcc} %}
                    <!-- Tables -------------------------------------------- -->
                    {% set tableDesc = 'Coming Soon!' %}
                    {% set tableAcc = 'Coming Soon!' %}
                    {% include "views/components/layout.twig" with {'component': 'table', 'description': tableDesc, 'accessibility': tableAcc} %}
                    <!-- Tags ---------------------------------------------- -->
                    {% set tagDesc = 'Tags are useful inline elements that can act as contextual information or links. Tags or pills are often short words or phrases and should be kept to a minimum amount of copy.' %}
                    {% set tagAcc = 'Coming Soon!' %}
                    {% include "views/components/layout.twig" with {'component': 'tag', 'description': tagDesc, 'accessibility': tagAcc} %}

            </div>

        </div>

        <script src="js/clone/clone.js"></script>

        <script src="js/app.js"></script>

        <script src="js/prism/prism.js"></script>
        <script src="js/prism/prism-twig.min.js"></script>
        <script src="js/prism/prism-scss.min.js"></script>
        <script src="js/prism/prism-markup.min.js"></script>
        <script src="js/prism/prism-markdown.min.js"></script>
        <script src="js/prism/prism-bash.min.js"></script>

    </body>

</html>
