<span id="contribute"></span>
<h2 data-c-heading="h2" data-c-padding="top(3)" data-c-margin="bottom(1)">
    Contributing
</h2>
<div>
    <p>Clone is an open source project using an MIT license. This means that anyone can contribute, build upon, rework, or improve it's code. <a href="https://github.com/joshdrink/clone-framework" title="View Clone's code on Github." target="_blank">Clone's code is hosted on Github</a>. If you spot an issue, feel free to <a href="https://github.com/joshdrink/clone-framework/issues/new" title="Submit an issue on Github." target="_blank">submit a ticket</a>, or if you're interested in adding or improving a feature in Clone, you can fork the repository.</p>
    <p data-c-margin="top(normal)" data-c-font-weight="bold">It is important to note that Clone is accessible by design, meaning anything included in the system must meet a minimum of <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" title="Learn more about WCAG." target="_blank">WCAG AA</a>.</p>
    <p data-c-margin="top(normal)">Generally, adding something to Clone should follow these basic steps:</p>
    <ol data-c-margin="top(normal)">
        <li>Accessibility &amp; Standards Research</li>
        <li>Design &amp; Development</li>
        <li>General User Testing</li>
        <li>Accessibility Testing</li>
        <li>Submit a Pull Request on Github</li>
    </ol>
    <p data-c-margin="top(normal)">Your pull request will then be reviewed and dicussed before being merged into the main repository. Contributing to Clone is a collaborative effort, so expect lots of fun discussion and testing!</p>
</div>