<span id="contribute"></span>
<h2
    data-c-font-size="h3"
    data-c-colour="c1"
    data-c-font-weight="600"
    data-c-padding="top(triple)"
    data-c-margin="bottom(normal)">
    Contributing
</h2>
<div>
    <p>Coming Soon! Check out <a href="https://github.com/joshdrink/clone-framework" title="Contribute to Clone on Github." target="_blank">Github</a> in the meantime.</p>
</div>