<span id="what"></span>
<h2
    data-c-font-size="h3"
    data-c-colour="c1"
    data-c-font-weight="600"
    data-c-padding="top(triple)"
    data-c-margin="bottom(normal)">
    What is Clone?
</h2>
<div>
    <p>Clone is a few things: it's an open-source front-end framework first, but it's also a design system, a prototyping tool, and a project boilerplate. It is produced by the team at the <a href="https://talent.canada.ca/" title="Learn more about Talent Cloud." target="_blank">Government of Canada Talent Cloud</a>.</p>
    <div data-c-grid="gutter top">
        <div data-c-grid-item="ds(1of2)">
            <h3 data-c-font-size="h4" data-c-margin="top(double) bottom(normal)">Clone the Framework</h3>
            <p>First and foremost, Clone is a front-end framework that leverages HTML5 data attributes to create an easy-to-use system of styles and components. Instead of classes, Clone uses key-value pairs written right in your HTML to style elements, allowing for easy manipulation, and requiring minimal knowledge to get started.</p>
        </div>
        <div data-c-grid-item="ds(1of2)">
            <h3 data-c-font-size="h4" data-c-margin="top(double) bottom(normal)">Clone the Design System</h3>
            <p>Clone is also a design system - by imposing thoughtful restrictions while still allowing for plenty of customization, it allows you to build your project with a consistent yet flexible design language. This ensures that your site feels unified without removing your ability to design things as you see fit.</p>
        </div>
        <div data-c-grid-item="ds(1of2)">
            <h3 data-c-font-size="h4" data-c-margin="top(normal) bottom(normal)">Clone the Prototyping Tool</h3>
            <p>One of the main advantages to Clone due to it's use of data attributes is that the barrier to entry is extremely low - if you know basic HTML you can get building in almost no time at all. This allows for rapid, in-context prototyping using real web technology, which can have a tremendous impact on user testing and research.</p>
        </div>
        <div data-c-grid-item="ds(1of2)">
            <h3 data-c-font-size="h4" data-c-margin="top(normal) bottom(normal)">Clone the Boilerplate</h3>
            <p>Finally, Clone is also a great way to get your project off the ground quickly. It provides a <a href="https://github.com/joshdrink/clone-playground" title="Visit the Clone boilerplate." target="_blank">ready to go environment</a> that will let you prototype and build in minutes with very little knowledge required. This allows you to worry less about getting started and more about building things that matter.</p>
        </div>
    </div>
</div>