<span id="why"></span>
<h2
    data-c-font-size="h3"
    data-c-colour="c1"
    data-c-font-weight="600"
    data-c-padding="top(triple)"
    data-c-margin="bottom(normal)">
    Why Clone?
</h2>
<p data-c-margin="bottom(normal)">Clone helps you get your project off the ground by doing the following:</p>
<ul>
    <li>It's built in standard web languages - HTML5, CSS3 with the help of <a href="https://sass-lang.com/" title="Learn more about Sass." target="_blank">Sass</a>, <a href="https://jquery.com/" title="Learn more about jQuery." target="_blank">jQuery</a>, and <a href="https://twig.symfony.com/" title="Learn more about Twig." target="_blank">Twig</a> if you want to get fancy!</li>
    <li>
        It uses HTML5 data-attributes instead of classes:
        <ul>
            <li>You can build and manipulate styles through data instead of writing CSS.</li>
            <li>It's namespaced so that it won't interfere with your existing CSS unless you want it to.</li>
        </ul>
    </li>
    <li>It's regularly tested for meeting AA <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" title="Learn more about WCAG." target="_blank">WCAG</a> compliance, so the system has accessibility benefits baked in.</li>
    <li>It provides enough flexibility to theme your project without overhwhelming you with options.</li>
    <li>It can be used through <a href="https://www.npmjs.com/package/clone-framework" title="Learn more about Clone on NPM." target="_blank">NPM</a>, the <a href="https://www.jsdelivr.com/package/npm/clone-framework" title="Learn more about the Clone CDN." target="_blank">CDN</a>, or you can start from scratch using the <a href="https://github.com/joshdrink/clone-playground" title="Learn more about Clone's boilerplate." target="_blank">Clone boilerplate</a>.</li>
    <li>It's lightweight! (<img alt="GitHub file size in bytes" src="https://img.shields.io/github/size/joshdrink/clone-framework/dist/css/gzip/clone.min.css.gz.svg?label=CSS%20%28minified%2C%20gzipped%29">)</li>
</ul>