<div data-c-grid="gutter">
    <div data-c-grid-item="equal-col tp(1of2)">
        <pre><code class="language-md"># MEDIA

base
pp (Phone - Portrait)
pl (Phone - Landscape)
tp (Tablet - Portrait)
tl (Tablet - Landscape)
ds (Desktop - Small)
dm (Desktop - Medium)
dl (Desktop - Large)</code></pre>
    </div>
    <div data-c-grid-item="equal-col tp(1of2)">
        <pre><code class="language-md"># ALIGNMENT

left
center
right</code></pre>
    </div>
</div>